

    <div class="row">
      <div class="site-title">
        {{site.title}}
      </div>
    </div>
    <div class="row">
      <div class="site-des">
        {{site.description}}
      </div>
    </div>
    <div class="row">
      <div class="social-links">
        <span class="social"><i class="fa fa-facebook"></i></span>
        <span class="social"><i class="fa fa-facebook"></i></span>
        <span class="social"><i class="fa fa-facebook"></i></span>
        <span class="social"><i class="fa fa-facebook"></i></span>

      </div>
    </div>
