---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="main-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="posted post-box">
      POSTED ON
      <span class="date-post">

        {{ page.date | date: "%A, %B %-d, %Y" }}
      </span>
      <span class="in">
        in
      </span>
      <span class="categories-on">
        {% for category in page.categories%}
        {{category}} &nbsp;{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
      </span>
      {% if page.author %}
      <br> <br>
      <div class="written-by">
        WRITTEN BY
      </div>
      <div class="author-name">
        {{page.author}}
      </div>
      {% endif %}
    </div>
      </header>

  <div class="post-content-main" itemprop="articleBody">
    {{ content }}
  </div>

</article>
